body{
     text-align: center;
     background-color: rgb(59, 105, 221);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
     margin-top: 180px;
 }
 form{
     background: #fff;
     border-radius: 20px;
     padding: 20px;
     width: 350px;
     margin: 0 auto;
 }
 h1{
     margin-top: 0 0 15px;
 }
 input, select, button, a{
     text-align: center;
     width: 105px;
     border-radius: 7px;
     padding: 10px;
     margin-bottom: 10px;
 }
 button{
     width: 130px;
     text-decoration: none;
     border: 0;
 }

   